[submodule "CENG350-repo"]
	path = CENG350-repo
	url = https://github.com/AlperenOvak/CENG350.git
[submodule "CENG477"]
	path = CENG477
	url = https://github.com/mcantimurcan/ceng477.git
[submodule "CENG435"]
	path = CENG435
	url = https://github.com/AlperenOvak/CENG435.git
[submodule "CENG790"]
	path = CENG790
	url = https://github.com/AlperenOvak/CENG790-Big-Data.git
